*{
    box-sizing: border-box;
}

body{
    background-color: #5052E2;
}


.square{
    width: 23.55px;
    height: 23.55px;
    margin-top: 10px;
    margin-left: 10px;
}

.header{
    width: 175px;
    height: 27.45px;
    font-weight: 900;
    font-size: 27.45px;
    color: #ffffff;
    margin-top: -27px;
    margin-left: 60px;
}

.img1{
    width: 39px;
    height: 39px;
    float: right;
    margin-right: 80px;
    margin-top: -55px;
    border-radius: 200px;
}
.kate{
    width: 57px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    float: right;
    color: #ffffff;
    margin-top: -45px;
    margin-right: 10px;
}
.header1{
    width: 800px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    margin: 157px 320px auto;
}
.header2{
    text-align: center;
    width: 600px;
    height: 68px;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    margin-left: 420px;
}


.boxes{
    display: flex;
    justify-content: center;
    width: 100%;
}



.box1{
    width: 360px;
    height: 260px;
    float: left;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0,15);
    background-color: #ffffff;
    text-align: center;
    margin-left: 30px;
}
.photo1{
    width: 68px;
    height: 60px;
    border-radius: 200%;
    margin-top: 30px;
    margin-right: 200px;
}
.name1{
    width: 89px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #1b1b1b; 
    margin-left: 130px;
    margin-top: -50px;
    letter-spacing: 2px;

}
.amy{
    width: 61px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9b9b9b;
    margin-left: 130px;
    margin-top: -20px;
}

.text1{
    width: 300px;
    height: 84px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1B1B1B;
    text-align: center;
    margin-left: 20px;
}
.tag1{
    color: rgba(44,153,237,1);
}
.date1{
    width: 90px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b9b9b;
    margin-top: 10px;
    margin-left: 35px;
}






.box2{
    width: 360px;
    height: 260px;
    float: left;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0,15);
    background-color: #ffffff;
    text-align: center;
    margin-left: 50px;
}

.photo2{
    width: 65px;
    height: 60px;
    border-radius: 200px;
    margin-top: 30px;
    margin-right: 200px;
}
.name2{
    width: 97px;
    height: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #1B1B1B;
    margin-left: 130px;
    margin-top: -50px;
}
.alexa{
    width: 54px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9b9b9b;
    margin-left: 130px;
    margin-top: -20px;
}
.text2{
    width: 300px;
    height: 84px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1B1B1B;
    text-align: center;
    margin-left: 7px;
}
.date2{
    width: 80px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b9b9b;
    margin-top: 10px;
    margin-left: 42px;
}





.box3{
    width: 360px;
    height: 260px;
    float: left;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0,15);
    background-color: #ffffff;
    text-align: center;
    margin-left: 50px;
}

.photo3{
    width: 59px;
    height: 58.36px;
    border-radius: 200px;
    margin-top: 25px;
    margin-right: 210px;
}

.name3{
    width: 147px;
    height: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-left: 115px;
    margin-top: -50px;
    color: #1B1B1B;
}

.jessi{
    width: 107px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9b9b9b;
    margin-left: 120px;
    margin-top: -20px;
} 

.text3{
    width: 300px;
    height: 84px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(27,27,27,1);
    margin-left: 18px;
}

.tag2{
    color: #55acee;
}

.date3{
    width: 80px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9b9b9b;
    margin-top: 10px;
    margin-left: 45px;
}

.text4{
    margin-left: 575px;
    width: 110px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    mix-blend-mode: normal; opacity: 0.8;
}
.text5{
    margin-left: 20px;
    width: 148px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.text6{
    margin-top: 200px;
    float: left;
    width: 243px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 20px;
}

.spanebi{
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 200px;
    margin-right: 300px;
    letter-spacing: 2px;
}
.span1{
    width: 82px;
    height: 24px;
}
.span2{
    margin-left: 20px;
    width: 41px;
    height: 24px;
}
.span3{
    margin-left: 20px;
    width: 119px;
    height: 20px;
}
.span4{
    margin-left: 20px;
    width: 139px;
    height: 24px;
}

.photo4{
    width: 83px;
    height: 17px;
    margin-top: -25px;
    margin-left: 1297px;
}


    
















